<% if current_user.id != @user.id && logged_in? %>
  <section class="message_box">
    <div id="messages">
      <%= render @messages %>
    </div>
  </section>
  <script type="text/javascript">
    var height = 0;
    $("div.message").each( function() {
      height += ($(this).height());
    });
    $('section.message_box').scrollTop(height);
  </script>
  <div class="message_form">
   <%= render 'messages/message_form',
     {from_user: current_user, to_user: @user, room_id: @room_id} %>
  </div>
<% end %>