<% if users.any? %>
  <div class='row'>
    <% users.each do |user| %>
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-8 text-center">
        <div class="card mb-3">
          <div class="card-header">
              <%= link_to user.name, user_path(user) %>
          </div>
          <div class="card-body">
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar, size: '50x50', class: "image-fit" %>
            <% else %>
              No image
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate users %>
  </div>
<% else %>
  <p>いいねされている人はいません</p>
<% end %>


