<h3 class="text-center">お問い合わせ</h3>
<p class="text-center">お問い合わせの際は、下記TwitterかEmail宛にお願いします</p>

<div class="row contact">
  <div class="col-6 text-center">
    <p>Twitter</p>
    <a href="https://twitter.com/__kotaro_"><i class="fab fa-twitter-square fa-5x"></i></a>
  </div>
  <div class="col-6 text-center">
    <p>E-mail</p>
    <i class="far fa-envelope fa-5x"></i>
    <p>kotaro.saito27@gmail.com</p>
    </div>
</div>

