@import "bootstrap-sprockets";
@import "bootstrap";

header{
  border-top:3px solid #000;
}

.headerNavBtn {
  text-align:center;
  height:3em;
  line-height:3em;
  color:#5F5F5F;
  font-size:16px;
  margin-bottom: 20px;
}

.headerNavBox a{
  text-decoration: none;
  color: #666;
}

a{
  text-decoration: none;
  color: #666;
}

.headerNavBtn:hover{
  background:#EEE;
}

.tag {
  margin-bottom: 50px;
}

.tag-form{
  margin-top: 50px;
}

.top-nav-tabs{
  margin-top: 30px;
}

.avatar{
  margin-right: 10px;
}

section.message_box {
  padding: 10px;
  border: 1px solid $gray-light;
  overflow: scroll;
  #messages {
    height: 400px;
  }
}

div.message_form {
  padding-top: 10px;
}

#message_sender {
  font-size: 1.1em;
}

#message_content {
  font-size: 1.0em;
}