<div class="headerNav">
  <div class="container">
    <div class="row headerNavBox">
      <a href="<%= root_path %>" class="col-xs-12 col-sm-4 headerNavBtn">
        トップページ
      </a>
      <a href="<%= signup_path %>" class="col-xs-12 col-sm-4 headerNavBtn">
        新規登録
      </a>
      <a href="<%= login_path %>" class="col-xs-12 col-sm-4 headerNavBtn">
        ログイン
      </a>
    </div>
  </div>
</div>